<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  camera-preview {
    height:100%;
    width:100%;
    position: absolute;
    right:0;
    top:0;
  }

  #close-btn {
    position:absolute;
    right:0;
    top:0;
  }
</style>

<div>
  <div [ngStyle]="{'display':active ? 'none':''}">
    <button (click)="startCamera()">Start Camera</button>
    <input (change)="continuousChange($event)" name="continuous" value="continuous" type="checkbox" /> 
    <label>Continuous Scan</label>
  </div>
  <camera-preview 
    ngModel #cameraElement
    desired-camera="founder"
    draw-overlay="true"
    (opened)="onOpened()" 
    [active]="active"
    [ngStyle]="{'display':active ? '':'none'}"
  >
    <button id="close-btn" (click)="stopCamera()">Close</button>
  </camera-preview>
</div>

